.menu-item {
   display: flex;
   flex-basis: 30%;
   flex-grow: 1;
   justify-content: center;
   align-items: center;
   border: solid 1px black;
   margin: 10px;
   height: 30vh;
   background-position: center;
   background-size: cover;
   overflow: hidden;

      &.large {
         height: 380px;
      }

      &:hover {
         cursor: pointer;

         & .background-image {
            transform: scale(1.1);
            transition: transform 5s;
         }

         & .content {
            opacity: 0.9;
         }
      }

      & .background-image {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      }

      & .content {
      height: 90px;
         position: absolute;
         border: solid 1px black;
         padding: 10px 20px;
         color: black;
         text-align: center;
         background-color: #fff;
         opacity: 0.7;
         font-family: 'Open Sans Condensed', sans-serif;
         }
      
      & .title {
         margin-top: 10px ;
         margin-bottom: 5px;
         opacity: 0.7;
      }
      
      & .subtitle {
         font-size: 20px;
         opacity: 0.7;
      }

}